<app-navbar></app-navbar>
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="../../assets/images/logo.png" width="270" height="95" alt="Star Movies" id="logo"></div>
        <div class="span4"></div>
      </div>        
          <br>
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <input  type="text" class="form-control" placeholder="Enter Search Movie Here"
            [matAutocomplete]="auto" [formControl]="stateCtrl">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            <br>
          </div>
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <div (click) = "add()">
                    <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                    <span>{{state.name}}</span> |
                    <small>Population: {{state.population}} | </small>
                </div>
              </mat-option>
            </mat-autocomplete>
        </div>
      </div>
      <br><br>
      <div class="btn-group-wrap">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="google-search">Movie Search</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="feeling-lucky">I'm Feeling Lucky</button>
        </div>
      </div>
      <br><br>
      <app-footer></app-footer>
