<br><br><br>
<div id="footer">
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">

        <ul class="nav navbar-nav" id="footerMargin">
            <button class="btn btn-danger navbar-btn">Advertising</button>
            &nbsp;<button class="btn btn-danger navbar-btn">Business</button>
            &nbsp;<button class="btn btn-danger navbar-btn" id ="favbtn">About</button>
            &nbsp;<button class="btn btn-danger navbar-btn">Privacy</button>
            &nbsp;<button class="btn btn-danger navbar-btn" id ="favbtn">Terms</button>
            &nbsp;<button class="btn btn-danger navbar-btn">Settings</button>
          </ul>
      </div>
    </div>
  </div>