<app-navbar></app-navbar>
<br>
<br>

    
  
 
  <div class="container-fluid">
  
    <div class="col-12">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="../assets/images/do.webp" alt="First slide">
            </ng-template>
  
            <ng-template ngbSlide>
                    <img src="../assets/images/ek.webp" alt="Second slide">
            </ng-template>
  
             <ng-template ngbSlide>
                        <img src="../assets/images/teen.webp" alt="Third slide">
                     
             </ng-template>  
             
             <ng-template ngbSlide>
                    <img src="../assets/images/11.webp" alt="Fourth slide">
                    
         </ng-template>  
        </ngb-carousel>
    </div>
    <h1>Popular English TV Shows</h1>
  
    <div id=bcolor class="row">
            <div class="col-sm-2">
              <div id=color class="card">
                    <img id="image" class="card-img-top" src="../assets/images/a.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><b>Arrow</b></h5>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div id=color class="card">
                    <img id="image" class="card-img-top" src="../assets/images/b.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><b>BBT</b></h5>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/bb.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><b>B Bad</b></h5>
                       
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            
                            <img id="image" class="card-img-top" src="../assets/images/h.jpg" alt="Card image cap">
                      <div class="card-body">
                            <h5 class="card-title"><b>HIMYM</b></h5>
                           
                        
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/s.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><b>Suits</b></h5>
                       
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/f.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><b>Friend</b></h5>
                       
                      </div>
                    </div>
            </div>
          </div>
          <br>
  
         <h1>Popular Hindi Tv Shows</h1>
  
          <div id=bcolor class="row">
                <div class="col-sm-2">
                  <div id=color class="card">
                        <img id="image" class="card-img-top" src="../assets/images/h1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><b>Swaragini</b></h5>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div id=color class="card">
                        <img id="image" class="card-img-top" src="../assets/images/h2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><b>Kapil Show</b></h5>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                <img id="image" class="card-img-top" src="../assets/images/h3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title"> <b>Mahakali</b></h5>
                           
                          </div>
                        </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                
                                <img id="image" class="card-img-top" src="../assets/images/h4.jpg" alt="Card image cap">
                          <div class="card-body">
                                <h5 class="card-title"><b>Bigg boss</b></h5>
                                
                            
                          </div>
                        </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                <img id="image" class="card-img-top" src="../assets/images/h5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title"><b> Simar Ka</b></h5>
                            
                          </div>
                        </div>
                </div>
  
                
                <div class="col-sm-2">
                        <div id=color class="md-card">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe src="https://www.youtube.com/embed/iHhcHTlGtRs" frameborder="0" ></iframe>
                                <div class="mask flex-center">
                                        
                                    </div>
                                    </div>
                          <div class="card-body">
                            <h5 class="card-title"><b>Balika Vadhu</b></h5>
                            
                          </div>
                        </div>
                </div>
               
                
              </div>
              <br><br>

              <!-- Rotating card -->

              <app-footer></app-footer>
  
              