<div class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-text">
            <h1><br></h1>
            <ul>
              <li><a href="#"><br></a></li>
              
            </ul>
          </div>
        </div>
        <!--two-->
        <div class="col-sm-4">
            <div class="footer-text">
              <h1><br></h1>
              <ul>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
              </ul>
              </div>
              </div>

         <!--three-->
        <div class="col-sm-4">
            <div class="footer-text">
              <h1><br></h1>
              <ul>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
                <li><a href="#"><br></a></li>
              </ul>
              </div>
              </div>   
              
          <!--four-->
         
                
               
                  <div class="col-sm-5"></div>
                  <div id="cl" class="col-sm-2">&copy;copyright-techLeap</div>
                 
                
      </div>
    </div>
  </div>
</div>

