<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#"> 
    <span style="font-size: 4vw;">
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;</span><span>About
    </span>
      </a>
      <a href="#"> 
          <span style="font-size: 4vw;">
              <i class="fas fa-address-book"></i>&nbsp;</span><span>Contacts
          </span>
            </a>
            <a href="#"> 
                <span style="font-size: 4vw;">
                    <i class="fas fa-user"></i>&nbsp;</span><span>signIn
                </span>
                  </a>
                  <a href="#"> 
                      <span style="font-size: 4vw;">
                          <i class="fas fa-user-plus"></i>&nbsp;</span><span>SignUp
                      </span>
                        </a>      
  </div>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>