<body>

    <div id="wdth" class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-hover h-100">
                    <div class="card-body">
                        <div class="reveal bg-warning p-2">
                            <h1>Title of the Movie</h1>
                        </div>
                        <br><br>
                        <img id="wdth" src="assets\f.jpg">
                        <h3 class="card-title">Movie</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>