
.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card-hover:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

#wdth{
    width: 20vw;
    
}