<form  [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
        <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Movie Name" formControlName="movieName">
  </mat-form-field>
  </td>
  </tr>
  <tr>
    <td>
  <mat-form-field class="example-full-width">
     <input type="text" matInput placeholder="Movie Poster Url" formControlName="posterUrl">
      </mat-form-field>
      </td>
      </tr>
      <tr>
          <td>
      <mat-form-field class="example-full-width"> Movie Release Date
      <input matInput type="datetime-local" placeholder="Date of Birth" formControlName="releaseDate">
        </mat-form-field>
        </td>
        </tr>

        <tr>
            <td>
    <mat-form-field class="example-full-width">
        
      <input type="text" matInput placeholder="Movie Description" formControlName="description">
    </mat-form-field>
    </td>
    </tr>

    <tr>
        <td>
    <mat-form-field class="example-full-width">
  
      <input type="text" matInput placeholder="Movie Video Url" formControlName="videoUrl">
    </mat-form-field>
    </td>
    </tr>

    <tr>
        <td>
    <mat-form-field class="example-full-width">
       <mat-select formControlName="category" placeholder="Movie Category">
        <mat-option value="romance">Romance</mat-option>
        <mat-option value="drama">Drama</mat-option>
        <mat-option value="action">Action</mat-option>
        <mat-option value="horror">Horror</mat-option> 
        <mat-option value="documentary">Documentary</mat-option>
        <mat-option value="adult">Adult</mat-option>
      </mat-select>
    </mat-form-field>
    </td>
    </tr>

    <tr>
        <td>
      <mat-form-field class="example-full-width"> 
      <input type="number" matInput placeholder="Movie Age limit" formControlName="ageLimit">
    </mat-form-field>
    </td>
    </tr>

    <tr>
        <td>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Movie Language" forControlName="language">
        <mat-option value="hindi">Hindi</mat-option>
        <mat-option value="english">English</mat-option>
        <mat-option value="telugu">Telugu</mat-option>
        <mat-option value="punjabi">Punjabi</mat-option>
        <mat-option value="marathi">Marathi</mat-option>
      </mat-select>
      </mat-form-field>
      </td>
      </tr>
      </table>
    <button mat-raised-button type="button" (click)="saveData()">SAVE</button>
    </form>