<div class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-text">
            <h1>Company Name</h1>
            <ul>
              <li><a href="#">Star Movies</a></li>
              
            </ul>
          </div>
        </div>
        <!--two-->
        <div class="col-sm-4">
            <div class="footer-text">
              <h1>Services</h1>
              <ul>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Tv shows</a></li>
                <li><a href="#">Online shows</a></li>
                <li><a href="#">Live streaming</a></li>
                <li><a href="#">trailers</a></li>
              </ul>
              </div>
              </div>

         <!--three-->
        <div class="col-sm-4">
            <div class="footer-text">
              <h1>Developed By</h1>
              <ul>
                <li><a href="#">Nalin Agrawal</a></li>
                <li><a href="#">Ishanaya Mittal</a></li>
                <li><a href="#">Vibhanshu Changani</a></li>
                <li><a href="#">Rashi Yadav</a></li>
                <li><a href="#">Bhuvan Dhand</a></li>
              </ul>
              </div>
              </div>   
              
          <!--four-->
         
                
               
                  <div class="col-sm-5"></div>
                  <div id="cl" class="col-sm-2">&copy;copyright-techLeap</div>
                 
                
      </div>
    </div>
  </div>
</div>
