
    <div class="modal-body">
        <div class="row">
           <div id="stop" class="card">
             <img id="image" src="assets/images/{{singleMovie.moviePosterUrl}}" 
             height="140px" width="370px"
             alt="Card image cap">
        </div>
         <div class="col-sm-6">
           <h3>{{singleMovie.movieName | uppercase}}</h3>
           <h3>{{singleMovie.movieReleaseDate}}</h3>
           <button class="btn btn-danger">Remove</button>
         </div> 
       </div>  
    </div>
