<head>

    <link data-require="bootstrap-css@3.3.6"
  data-semver="3.3.6" rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  
  </head>
  
   <div class="well">
    <img src="../../assets/images/logo.png" alt="logo" id="logo" class="float-left">
    <button type="button" class="btn btn-primary btn-large pull-right"
    routerLink="/login">Login</button>
    <button type="button"  style="margin-right: 5%;"
    class="btn btn-primary btn-large pull-right ml-2 ml-2"
    routerLink="/signup">Sign Up</button>
    <br><br>
  </div>
    
  
 
  <div class="container-fluid">
  
    <div class="col-12">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="../assets/images/do.webp" alt="First slide">
            </ng-template>
  
            <ng-template ngbSlide>
                    <img src="../assets/images/ek.webp" alt="Second slide">
            </ng-template>
  
             <ng-template ngbSlide>
                        <img src="../assets/images/teen.webp" alt="Third slide">
                     
             </ng-template>  
             
             <ng-template ngbSlide>
                    <img src="../assets/images/11.webp" alt="Fourth slide">
                    
         </ng-template>  
        </ngb-carousel>
    </div>
    <h1>Popular English TV Shows</h1>
  
    <div id=bcolor class="row">
            <div class="col-sm-2">
              <div id=color class="card">
                    <img id="image" class="card-img-top" src="../assets/images/a.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Arrow</h5>
                  <p class="card-text">Arrow is an American superhero television series developed by writer/producers Greg.</p>
               
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div id=color class="card">
                    <img id="image" class="card-img-top" src="../assets/images/b.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Big Bang Theory</h5>
                  <p class="card-text">The Big Bang Theory is an American television sitcom created by Chuck Lorre.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/bb.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Breaking Bad</h5>
                        <p class="card-text">Breaking Bad is an American neo-western crime drama television series and did good.</p>
                       
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            
                            <img id="image" class="card-img-top" src="../assets/images/h.jpg" alt="Card image cap">
                      <div class="card-body">
                            <h5 class="card-title">HIMYM</h5>
                            <p class="card-text">How I Met Your Mother (often abbreviated to HIMYM) is an American sitcom.</p>
                        
                        
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/s.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Suits</h5>
                        <p class="card-text">Suits is an American legal drama television series created and written by Aaron Korsh. </p>
                       
                      </div>
                    </div>
            </div>
            <div class="col-sm-2">
                    <div id=color class="card">
                            <img id="image" class="card-img-top" src="../assets/images/f.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Friends</h5>
                        <p class="card-text">Friends is an American television sitcom, created by David Crane and Marta Kauffman</p>
                        
                      </div>
                    </div>
            </div>
          </div>
          <br>
  
         <h1>Popular Hindi Tv Shows</h1>
  
          <div id=bcolor class="row">
                <div class="col-sm-2">
                  <div id=color class="card">
                        <img id="image" class="card-img-top" src="../assets/images/h1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Swaragini</h5>
                      <p class="card-text">Arrow is an American superhero television series developed by writer/producers Greg.</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div id=color class="card">
                        <img id="image" class="card-img-top" src="../assets/images/h2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Kapil Show</h5>
                      <p class="card-text">The Big Bang Theory is an American television sitcom created by Chuck Lorre.</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                <img id="image" class="card-img-top" src="../assets/images/h3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Mahakali</h5>
                            <p class="card-text">Breaking Bad is an American neo-western crime drama television series and did very good.</p>
                            
                          </div>
                        </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                
                                <img id="image" class="card-img-top" src="../assets/images/h4.jpg" alt="Card image cap">
                          <div class="card-body">
                                <h5 class="card-title">Bigg boss</h5>
                                <p class="card-text">Bigg boss (often abbreviated to BiggBoss) is an Indian sitcom and did good.</p>
                            
                            
                          </div>
                        </div>
                </div>
                <div class="col-sm-2">
                        <div id=color class="card">
                                <img id="image" class="card-img-top" src="../assets/images/h5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Sasural Simar Ka</h5>
                            <p class="card-text">Suits is an American legal drama television series created and written by Aaron. </p>
                            
                          </div>
                        </div>
                </div>
  
                
                <div class="col-sm-2">
                        <div id=color class="card">
                                <div class="view overlay zoom">
                                <img id="image" class="card-img-top" src="../assets/images/h6.jpg" alt="Card image cap">
                                <div class="mask flex-center">
                                        
                                    </div>
                                    </div>
                          <div class="card-body">
                            <h5 class="card-title">Balika Vadhu</h5>
                            <p class="card-text">Friends is an American television sitcom, created by David Crane and Marta</p>
                           
                          </div>
                        </div>
                </div>
                
              </div>
  
              <app-footer></app-footer>
  
              